name: Crystal CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: apt-get install -y libopenblas-base liblapack3
    - name: create link to BLAS
      run: ln -s /usr/lib/openblas-base/libblas.so.3 /usr/lib/libcblas.so
    - name: create link to LAPACK
      run: ln -s /usr/lib/lapack/liblapack.so.3 /usr/lib/liblapack.so
    - name: Run tests
      run: crystal spec
  build-macos:
    runs-on: macos-latest
    container:
      image: crystallang/crystal
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: crystal spec
