name: Linux CI

on:
  push:
    branches: [master]
  pull_request:
    branches: ["**"]
jobs:
  build-ubuntu:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, crystal: latest }
          - { os: ubuntu-latest, crystal: nightly }
    runs-on: ${{matrix.os}}
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{matrix.crystal}}
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libopenblas-base liblapack3
      - name: create link to BLAS
        run: sudo ln -s /usr/lib/x86_64-linux-gnu/openblas-pthread/libblas.so.3 /usr/lib/x86_64-linux-gnu/libcblas.so
      - name: Install crystal land dependencies
        run: shards install
      - name: Run tests
        run: crystal spec
      - name: Run tests in multithreaded mode
        run: crystal spec -Dpreview_mt
